VideoServiceWeb/src/conf/xml-resources/web-service-references/VideoWebService/wsdl/localhost_8080/VideoWebService/VideoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="VideoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/VideoWebService/VideoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateVideo">
<part name="parameters" element="tns:updateVideo"/>
</message>
<message name="getVideo">
<part name="parameters" element="tns:getVideo"/>
</message>
<message name="getVideoResponse">
<part name="parameters" element="tns:getVideoResponse"/>
</message>
<message name="deleteVideo">
<part name="parameters" element="tns:deleteVideo"/>
</message>
<message name="addVideo">
<part name="parameters" element="tns:addVideo"/>
</message>
<message name="getVideos">
<part name="parameters" element="tns:getVideos"/>
</message>
<message name="getVideosResponse">
<part name="parameters" element="tns:getVideosResponse"/>
</message>
<portType name="VideoWebService">
<operation name="updateVideo">
<input wsam:Action="http://webservice/VideoWebService/updateVideo" message="tns:updateVideo"/>
</operation>
<operation name="getVideo">
<input wsam:Action="http://webservice/VideoWebService/getVideoRequest" message="tns:getVideo"/>
<output wsam:Action="http://webservice/VideoWebService/getVideoResponse" message="tns:getVideoResponse"/>
</operation>
<operation name="deleteVideo">
<input wsam:Action="http://webservice/VideoWebService/deleteVideo" message="tns:deleteVideo"/>
</operation>
<operation name="addVideo">
<input wsam:Action="http://webservice/VideoWebService/addVideo" message="tns:addVideo"/>
</operation>
<operation name="getVideos">
<input wsam:Action="http://webservice/VideoWebService/getVideosRequest" message="tns:getVideos"/>
<output wsam:Action="http://webservice/VideoWebService/getVideosResponse" message="tns:getVideosResponse"/>
</operation>
</portType>
<binding name="VideoWebServicePortBinding" type="tns:VideoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getVideos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VideoWebService">
<port name="VideoWebServicePort" binding="tns:VideoWebServicePortBinding">
<soap:address location="http://localhost:8080/VideoWebService/VideoWebService"/>
</port>
</service>
</definitions>