videos-ejb/src/wsdl/localhost_8080/videos-soap/VideoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://soap.videos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.videos/">

<xs:element name="addVideo" type="tns:addVideo"/>

<xs:element name="deleteVideo" type="tns:deleteVideo"/>

<xs:element name="getVideo" type="tns:getVideo"/>

<xs:element name="getVideoResponse" type="tns:getVideoResponse"/>

<xs:element name="getVideos" type="tns:getVideos"/>

<xs:element name="getVideosResponse" type="tns:getVideosResponse"/>

<xs:element name="updateVideo" type="tns:updateVideo"/>

<xs:element name="video" type="tns:video"/>

<xs:complexType name="getVideos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVideosResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="file" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="fileBase64" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideo">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideoResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVideo">
<xs:sequence>
<xs:element name="video" type="tns:video" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVideo">
<xs:sequence>
<xs:element name="video" type="tns:video" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVideo">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>